html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
}

#logo {
    height: 120px;
    width: 120px;
    padding: 0 140px 0 10px;
    margin: 0 0 5px 20px;
}

header {
    display: flex;
    flex-direction: row;
    background: #1e2a38;
    color: white;
    text-align: center;
    ;
}

.header-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-texto h1 {
    margin: 0;
    padding: 0 0 0 80px;
    font-size: 50px;
}

.header-texto h2 {
    margin: 0;
    padding: 0 0 0 65px;
    font-size: 24px;
}

nav {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 0px;
    padding: 0 20px 10px 10px;
    list-style: none;
    text-align: right;
}

nav ul li {
    margin-left: 10px;
    padding: 1px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #cccccc;
}

#foto-perfil {
    gap: 30px;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: 20px 0 0 50px;
    object-fit: cover;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.secao1 h3 {
    margin-left: 250px;
    text-align: left;
}

.secao1 {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding: 30px 20px;
    align-items: flex-start;
    font-size: 22px;
    gap: 40px; 
}

#div1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#div1 p {
    color: rgb(17, 21, 24);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    background: white;
    padding: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.secao {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 40px 30px 0 120px;
    align-items: flex-start;
    font-size: 24px;
    gap: 20px; 
}

.caixa {
    color: rgb(17, 21, 24);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    background: white;
    padding: 20px;
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.lista {
    list-style-position: inside;
    line-height: 1.6;
}

.lista-interna {
    list-style-type: circle;
    margin-left: 20px;
}

footer {
    display: flex;;
    background: #1e2a38;
    color: white;
    text-align: center;
    padding: 30px ;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

footer strong {
    display: flex;
    flex-direction: column;
}

footer p {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding: 0 20px 0 20px;
}